src/main/mule/mulesoft-ci-cd-sample-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="346177b7-4222-45ed-b6d6-4473b06f843f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="31955f99-489a-42e6-8625-d7dbacd68738" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Miracle@1" database="oderapi" />
	</db:config>
	<flow name="mulesoft-ci-cd-sample-demoFlow" doc:id="d21cdf68-5b56-40ad-91ae-7cbd2dcbc2d8" >
		<http:listener doc:name="Listener" doc:id="aa575de0-bc97-4324-bdf9-218c3b95bb5e" config-ref="HTTP_Listener_config" path="/test"/>
		<db:select doc:name="Select" doc:id="39b0dd31-2f68-43d8-963c-0c9a074b83f7" config-ref="Database_Config1">
			<db:sql >select * from ledger</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="75d3c044-d346-46b4-8e71-1ff21da1c4df" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="57e23262-3f1b-4d05-9cb3-6e9f78dec526" message="#[payload]"/>
	</flow>
</mule>
